.DashboardPage {}

.DashboardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    & button {
        padding: 16px 18px;
        background: $primary;
        color: white;
        margin: 15px 0;
    }
}

.StatContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 730px;
    height: 28%;
}

.RecentApplicationsList {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 0px 15px;
    color: white;
    overflow: scroll;

    & h2 {
        margin-bottom: 12px;
        font-size: 1.2rem;
    }

    &__Item {
        position: relative;
        margin: 6px 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
        background: lighten($dark, 5%);
        flex: 1;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;

        & h3 {
            font-size: 1rem;
        }

        & p {
            font-size: .8rem;
        }
    }
}

.Chart {
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    background: lighten($dark, 5%);
    height: 60%;
    padding: 12px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    & h2 {
        color: white;
        margin: 12px;
    }
}

.NotAuthed {
    & button {
        width: 100%;
        padding: 16px 18px;
        background: $primary;
        color: white;
        margin: 15px 0;
    }
}

.RecentApplicationOptionToggle {
    position: absolute;
    right: 12px;
    top: 18px;
}

.RecentApplicationOption {
    position: absolute;
    left: 160px;
    top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    // height: 120px;
    background: lighten($dark, 5%);
    z-index: 1;
    padding: 12px 20px;

    & .divider {
        border: .5px solid black;
        height: .5px;
        width: 80%;
        margin: 0 auto;
    }

    & p {
        margin: 8px;
    }
}